# Dependencies
node_modules/
**/node_modules/

# Environment variables / secrets
.env
.env.*
!.env.example

# Build files
dist/
build/
coverage/

# Hardhat
cache/
artifacts/
typechain-types/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# macOS
.DS_Store

# Vite
frontend/.vite/